.password-generator-container {
    max-width: 290px;
    padding: 0.8rem;
    padding-bottom: 0rem;
}

.generator-heading {
    font-size: 1.2rem; 
    font-weight: 600;
    color: #2ec4b6;
    margin-bottom: 0.6rem;
}

.generator-content {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.password-field {
    display: flex;
    align-items: center;
    gap: 8px;
}

.password-input {
    flex-grow: 1;
    padding: 0.6rem;
    font-size: 16px;
    border-radius: 5px;
    color: #ff9f1c;
}

.copy-icon {
    cursor: pointer;
    color: #2ec4b6; /* Teal Mid */
}

.length-slider {
    width: 100%;
    border-radius: 2rem;
    background-color: #ffbf69; /* Light Orange */
    margin: 0.2rem 0;
}

.password-length {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: #ff9f1c;
    font-size: 0.9rem;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 0.9rem;
}

.row input{
    margin-left: 1rem;
}

.generate-button {
    padding: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    background-color: #ffbf69; /* Light Orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0.3rem 0;
}

.generate-button:hover{
    background-color: #ff9f1c;
    color: #4d4d4d;
}

.copy-success {
    color: #ffbf69;
    font-weight: 500;
}
.btn-container{
    margin: 0.2rem 0.4rem;
}