@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins , sans-serif;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.popup-container {
    width: 340px;
    height:fit-content;
    background-color: #cbf3f0; /* light teal */
    color: #2ec4b6; /* teal mid */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature-btn {
    background-color: #ffbf69; /* light orange */
    color: #2ec4b6; /* teal mid */
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.feature-btn:hover {
    background-color: #ff9f1c; /* orangeD */
    color: #fff;
}

